@use './../variables' as *;

.loader {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.loader__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__spinner {
    margin: auto;
    border: 0.5rem solid $light-silver;
    border-radius: 50%;
    border-top: 0.5rem solid $black;
    width: 2.5rem;
    height: 2.5rem;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
