// -------------------------------------------------------------------
// :: FONT-SIZES
// -------------------------------------------------------------------

$font-size-xl: 4rem; // 64px
$font-size-l: 2.5rem; // 40px
$font-size-m: 2rem; // 32px
$font-size: 1rem; // 16px
$font-size-s: 0.625rem; // 10px
